<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Outback Steakhouse</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="icon" type="imagem/png" href="/img/icone.png" />
</head>
<body>

	<div class="container">
		<h1>PÁGINA DEFAULT - TUDO VAI DAR CERTO, CALMINHA!!!!! DEUS TE
			AJUDA</h1>
	</div>

	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>