<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Outback Steakhouse</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="icon" type="imagem/png" href="/img/download.png" />

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light ">
		<div class="container">
			<a class="navbar-brand h1 mb-0" href="/outback/paginainicial"><img
				src="/img/logomarcasite.png" width="120px" height="50px"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a sec:authorize="!isAuthenticated()" class="nav-item nav-link ml-4 mr-4" href="/outback/paginainicial">Home</a> 
					<a sec:authorize="hasRole('ROLE_USER')" class="nav-item nav-link ml-4 mr-4" href="/outback/paginainicial">Home</a> 
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item nav-link ml-4 mr-4" href="/outback/paginainicial">Home</a> 		
					
					<a sec:authorize="!isAuthenticated()" class="nav-item nav-link ml-4 mr-4" href="/outback/destaques">Destaques</a>
					<a sec:authorize="hasRole('ROLE_USER')" class="nav-item nav-link ml-4 mr-4" href="/outback/destaques">Destaques</a>
					
					<a class="nav-item nav-link ml-4 mr-4" href="/outback/cardapio">Cardápio</a>
					
					<a sec:authorize="!isAuthenticated()" class="nav-item nav-link ml-4 mr-4" href="/outback/quemsomos">QuemSomos</a> 
					<a sec:authorize="hasRole('ROLE_USER')" class="nav-item nav-link ml-4 mr-4" href="/outback/quemsomos">QuemSomos</a> 
					
					<a sec:authorize="!isAuthenticated()" class="nav-item nav-link ml-4 mr-4" href="/outback/faleconosco">Fale Conosco</a> 
					<a sec:authorize="hasRole('ROLE_USER')" class="nav-item nav-link ml-4 mr-4" href="/outback/faleconosco">Fale Conosco</a> 
					
					
					<a sec:authorize="!isAuthenticated()" class="nav-item nav-link ml-4 mr-4" href="/outback/cadastrarcliente">Cadastre-se</a>
					<a sec:authorize="hasRole('ROLE_USER')" class="nav-item nav-link ml-4 mr-4" href="/outback/cadastrarcliente">Cadastre-se</a>
					
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item nav-link ml-4 mr-4" href="/outback/cadastrarpratos">Cadastar Pratos</a>
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item nav-link ml-4 mr-4" href="/outback/listarcliente">Listar Clientes</a>
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item nav-link ml-4 mr-4" href="/outback/listarpratos">Listar Produtos</a>
					
					<a sec:authorize="!isAuthenticated()" class="btn btn-danger ml-9" href="/outback/login">Entrar</a>
					
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger ml-9" href="/logout">Sair</a>
					
					<a sec:authorize="hasRole('ROLE_USER')" class="btn btn-danger ml-9" href="/logout">Sair</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="container my-5">
		<table class="table">
		<h1>LISTA DE PRODUTOS</h1>
			<br>
			<thead class="thead-dark">
				<tr>
					<th scope="col">Código</th>
					<th scope="col">Nome</th>
					<th scope="col">Preço</th>
					<th scope="col">Foto</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prato : ${listaDePratos}">
					<td th:text="${prato.codigo}"></td>
					<td th:text="${prato.nome}"></td>
					<td th:text="${prato.preco}"></td>

					<td><img width="50" height="50"
						th:src="@{'/images/' + ${prato.nome} + .png}"></td>
					<td><a
						th:href="@{/outback/excluir/{codigo}(codigo = ${prato.codigo})}"><button
								type="button" class="btn btn-danger">Remover</button></a></td>
					<td><a
						th:href="@{/outback/alterar/{codigo}(codigo = ${prato.codigo})}"><button
								type="button" class="btn btn-primary">Alterar</button></a></td>

				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">
		<div class="card">
			<div class="card-header"></div>
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>Copyright © 2019 Outback Steakhouse</p>
					<footer class="blockquote-footer">
						Todos os direitos Reservados <cite title="Source Title">2019</cite>
						- Desenvolvido por Victor Pinheiro
					</footer>
				</blockquote>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>